<!-- Start Stay Connected Section -->
<section class="stayconnected">
    <h2>Connectez-vous</h2>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <ul class="nav nav-pills nav-justified">
                <li><a href="https://twitter.com/jobs_emplois" rel="external"><img alt="ESDC Twitter profile" src="https://www.canada.ca/content/dam/esdc-edsc/images/campaigns/youth/our-way/icon-twitter-white.png"></a></li>
                <li><a href="https://www.instagram.com/explore/tags/leaderstoday/?hl=fr" rel="external"><img alt="ESDC Instagram profile" src="https://www.canada.ca/content/dam/esdc-edsc/images/campaigns/youth/our-way/icon-instagram-white.png"></a></li>
                <li><a href="https://www.facebook.com/leadersdaujourdhui/" rel="external"><img alt="ESDC Facebook profile" src="https://www.canada.ca/content/dam/esdc-edsc/images/campaigns/youth/our-way/icon-facebook-white.png"></a></li>
                <li><a href="https://www.youtube.com/user/RHDCCanada" rel="external"><img alt="ESDC YouTube profile" src="https://www.canada.ca/content/dam/esdc-edsc/images/campaigns/youth/our-way/icon-youtube-white.png"></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Stay Connected Section -->
